@model Q2.Models.GymMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GymMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberShipStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberShipStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberShipDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberShipDuration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
